.yandex-search-results dd{
  margin: 0 0 2em 2em;
}
a.yandex-search-host {
  margin-top: .5em;
  font-size: 85%;
  display: block;
  color: #777;
}
a.yandex-search-host:hover {
  color: #555;
}
.yandex-logo {
  font-weight: bold;
  color: black;
}
.yandex-logo:hover {
  color: black;
}
.yandex-first-letter {
  color: red;
}
